:root {
  --primary-color-dark-blue-1: hsl(217, 28%, 15%);
  --primary-color-dark-blue-2: hsl(218, 28%, 13%);
  --primary-color-dark-blue-3: hsl(216, 53%, 9%);
  --primary-color-dark-blue-4: hsl(219, 30%, 18%);
  --accent-color-cyan: hsl(176, 68%, 64%);
  --accent-color-blue: hsl(198, 60%, 50%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --padding-sm: 2.5rem 2rem;
  --padding-md: 3.5rem 3rem;
  --padding-lg: 4.5rem 4rem;
  --padding-footer: 15rem 4rem 1rem;
  --padding-footer-tablet: 20rem 3rem 1rem;
  --padding-footer-mobile: 25rem 3rem 1rem;
}

/* @import url("https://v1.fontapi.ir/css/ShabnamFD"); */
body {
    /* background: #f4f4f4 !important; */
    font-family: "Sahel";
    background-color: var(--primary-color-dark-blue-2);
    color: var(--neutral-color-white);
    direction: rtl;
}
.header {
  display: flex;
  padding: var(--padding-md);
  justify-content: right;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul li {
  display: inline-block;
  margin-left: 1rem;
}
a {
  color: var(--neutral-color-white);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color-cyan);
  transition: 600ms;
}

.intro img,
.productive img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.intro {
    display: flex;
    margin: 0px auto;
    width: 80%;
}
.intro-img{
  /* display: flex; */
  margin: 0px auto;
}
.intro>div {
    width: 50%;
}
.card-body{
  background-color: var(--primary-color-dark-blue-2);
}
.shadow{
border: none;}

/* /////////////////////////////////////////////// */
.blog_card {
  margin: 50px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}
.blog_card_image {
  padding: 20px;
}
.blog_card_image img {
  margin-top: -60px;
  width: 100%;
  border-radius: 20px;
  transition: 0.25s ease-in-out;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.blog_card_content {
  padding: 16px;
}
.blog_card_content h3 {
  font-size: 20px;
  line-height: 36px;
  color: #303133;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: -0.5;
}
.blog_card_content p {
  font-size: 16px;
  color: #777;
  line-height: 36px;
  /* justify-content: right; */
  text-align: justify;
}
.blog_card_content a {
  text-decoration: none;
  text-align: center;
}
.blog_card_content a h6 {
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c8a482;
  margin-bottom: 33px;

}
.blog_card:hover .blog_card_image img {
  transform: translatey(-3%);
}
/* //////////////////////////////////////////////////// */
 #page {
	 width: 100%;
	 max-width: 1200px;
    background-color: var(--primary-color-dark-blue-1);
	 margin: 0 auto;
	 border-radius: 3em;
	 transition: all 0.25s ease;
   -webkit-box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.06);
   -moz-box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.06);
   box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.06);
}
 @media screen and (max-width: 900px) {
	 #page {
		 border-radius: 0;
		 max-width: 100%;
	}
}
 .content {
	 box-sizing: border-box;
	 padding: 3em;
	 margin: auto;
	 max-width: 2000px;
   direction:rtl;
   text-align:justify;
}
.content h5{
  margin-top: 20px;
border-bottom:4px solid red;
border-radius: 5px;
text-align: center;
background-color: #333;
color: white;
}

.image img{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 5px;
}
/* #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto
}
#myImg:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed; 
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
  backdrop-filter: blur(5px);
}
.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  max-width: 75%;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}
@-webkit-keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}
@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
} */

 .panel {
	 position: fixed;
	 bottom: 0;
	 right: 0;
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
  
  }
 .toggle{
  margin-bottom: 20px;
  border-radius: 10px;
 }
/* Comment */

@media(min-width:568px){
  .end{
      margin-left: auto;
  }
}

@media(max-width:768px){
  #post{
      width: 100%;
  }
}
#clicked{
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px; 
}

#profile{
  background-color: unset;
  
} 

#post{
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%;
}

/* ///////////////////////////////// */


.theme__checkbox {
  display: none;
}
.theme__button {
  /* position: fixed; */
  bottom: 0;
  right: 0;
  margin: 1rem;
  /* z-index: 1; */
  cursor: pointer;
}

.theme__icon {
  height: 4rem;
  transition: transform 0.75s cubic-bezier(0.55, -0.34, 0.56, 1.42);
  /* background-color: red; */
}
.theme__checkbox:checked ~ .theme__button > .theme__icon {
  transform: rotate(180deg);
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width:600px ),(max-width:767px) {

.panel{
  height:15%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}
.theme__button svg{
  width: 100%;
  height: 70%;
}
.toggle{
  display: none;
}
}
@media (max-width:260px), (max-width:500px) {
.card a img{
  width: 100%;
  height: 100%;
} 
.toggle{
    display: none;
  }

}

/* //////////////////////comment////////////////// */
@media(min-width:568px){
  .end{
      margin-left: auto;
  }
}

@media(max-width:768px){
  #post{
      width: 100%;
  }
}
#clicked{
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px; 
}

#profile{
  background-color: unset;
  
} 

.comments{
  margin-top: 5%;
  margin-left: 20px;
}

.darker{
  border: 1px solid #ecb21f;
  background-color: black;
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}
#comment{
  background-color: var(--primary-color-dark-blue-1);
  margin-top: 50px;
  padding: 10px;
  border-radius: 30px;
}
.comment{
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: var(--primary-color-dark-blue-2);
  float: left;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
text-align: justify;
direction: rtl;
width: 100%;
}
.comment h4,.comment span,.darker h4,.darker span{
  display: inline;
}

.comment p,.comment span,.darker p,.darker span{
  color: rgb(184, 183, 183);
}


#align-form{
  margin-top: 20px;

}
.form-group p a{
  color: white;
}
.form-group input,.form-group textarea{
  background-color: var(--primary-color-dark-blue-2);
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 12px;
 /* justify-content: center; */
}

form{
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: var(--primary-color-dark-blue-2);
  border-radius: 10px;
  padding: 20px;
text-align: center;
float: left;
}