* {
    direction: rtl;
    font-family: "Shabnam FD", sans-serif;
  }
  
  /* @font-face {} */
  
  @import url("https://v1.fontapi.ir/css/ShabnamFD");
  body {
    background-image: url("../image/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  body h1 {
    font-family: "Shabnam FD", sans-serif;
  }
  
  body h2 {
    font-family: "Shabnam FD", sans-serif;
  }
  
  body h3 {
    font-family: "Shabnam FD", sans-serif;
  }
  
  body h4 {
    font-family: "Shabnam FD", sans-serif;
  }
  
  body h5 {
    font-family: "Shabnam FD", sans-serif;
  }
  
  body h6 {
    font-family: "Shabnam FD", sans-serif;
  }
  nav a{
    color: white;
  }
  nav a:hover{
    color:white;
    border-bottom: 0.5px solid red;
  }
  .error{
color: red;
  }
.col-xl-8 {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 30px 30px 30px 30px;
  padding: 50px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 71px -28px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 71px -28px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 71px -28px rgba(0, 0, 0, 0.22);
  text-align: justify;
  text-justify: inter-word;
}
.uk-table{
  background: rgba(32, 223, 128, 1);
  color: rgba(255, 255, 255, 1);
/* margin-bottom: 30px; */
border-radius: 10px;

}

.admin-panel {
	/* width: 100%;
  max-width:900px; */
	margin: 50px auto;
  overflow: hidden;
  position:relative;
}
.col-xl-2{
    backdrop-filter: blur(10px);
    border-radius: 30px 0px 0px 30px;
    /* padding: 10px; */
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 71px -28px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 71px -28px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 71px -28px rgba(0, 0, 0, 0.22);
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 50px;
}

.slidebar ul {
  position:relative;
  /* height:100%; */

}

.slidebar li{
  text-align:center;
  padding: 0px 0px;

}

ul {
	padding: 0;
	margin:0;
}
li {
	list-style-type: none;
	margin: 0;
	position: relative;
  text-align:center;
}
.slidebar i {
  display:block;
  text-align:center;
  font-size: 40px;
  margin-bottom: 10px;
  background-color: red;
}

.slidebar ul a {
    color: black;
	text-decoration: none;
	box-sizing:border-box;
	display: block;
	text-transform: capitalize;
  padding: 20px;
  
}
.slidebar li:hover a{
    color: red;
    }
.slidebar  li#active{
border-right: 1px solid red;
}
.slidebar li:hover i, li#active i{
	color: #17BCE8;
}
.slidebar li:focus i {
	color: #17BCE8;
}

.main {
	/* float: left; */
	width: 100%;
	/* background-color: rgb(255,255,255); */
	position: relative;
    
}
#tab1{
    display: flex;
    flex-direction:column;
    /* background-color: red; */
    width: 100%;
    margin: auto;
    align-self: center;
}
#tab2 {
margin: auto;
background: rgba(32, 223, 128, 1);
box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
padding: 20px;
justify-content: center;
border-radius: 15px;
 color: white;
}

.change-btn {
  background: #55acee;
  color: #ffffff;
  padding: 0.8rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  margin-top: 10px;
  min-width: 20px;
}

.change-btn:hover {
cursor: pointer;
}
#tab2 form{
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
/* align-items: center; */
/* justify-content: center; */
}
#tab2 form input {
  margin-top: 5px;
  border-radius: 8px;
}
#tab2 form label {
margin-top: 10px;
}
.main h2 {
	margin:1em 30px;
	color:red;
	font-size: 20px;
  font-weight:600;
  border-bottom: 1px solid #bbb;
  padding: 0px 0px 20px 0px;
text-align: center;
}

/* ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  } */
  
  .footer-section {
    background: #151414;
  }
  
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .cta-text span {
    color: #ffffff;
    font-size: 15px;
  }
  
  .footer-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  
  .footer-logo {
    margin-bottom: 30px;
  }
  
  .footer-logo img {
    max-width: 200px;
  }
  
  footer .col-xl-12 {
    background-color: #151414;
  }
  
  .footer-widget {
    justify-items: center;
    text-align: center;
  }
  
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #ffffff;
    line-height: 28px;
  }
  
  .footer-social-icon span {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Shabnam FD", sans-serif;
    margin-bottom: 20px;
  }
  
  .footer-social-icon a {
    /* color: #fff; */
    font-size: 16px;
    margin-right: 15px;
  }
  
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .facebook-bg {
    background: #3b5998;
  }
  
  .twitter-bg {
    background: #55acee;
  }
  
  .google-bg {
    background: #dd4b39;
  }
  
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
  }
  
  .footer-widget ul li {
    display: inline-block;
    /* float: left; */
    width: 50%;
    margin-bottom: 12px;
  }
  
  .footer-widget ul li a:hover {
    color: #ff5e14;
  }
  
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  
  .BOX{
    display: flex;
    flex-direction: row;
    }
    .box-wrap:hover .box{
      filter:blur(3px);
      opacity:.5;
      transform: scale(.98);
      box-shadow:none;
    }
    .box-wrap:hover .box:hover{
      transform:scale(1);
      filter:blur(0px);
      opacity:1;
      /* box-shadow:0 8px 20px 0px rgba(0,0,0,0.125); */
    }
    .box-wrap:hover .box:hover button{
    display: block;
    }
    .box p:first-child{
      color: goldenrod;
      font-weight: bold;
    }
    .box p{
      margin-top: 30px;
      color: black;
    }
    .input{
    width: 80px;
    }
    .box button{
      margin: 10px auto;
      border-radius: 10px;
      display: none;
    }
    .box button a{
      text-decoration: none;
      color: white;
    }
    
    .box input[type="radio"] {
      display: none;
    }
    .box input[type="radio"]:not(:disabled) ~ label {
      cursor: pointer;
    }
    .box input[type="radio"]:disabled ~ label {
      color: rgba(188, 194, 191, 1);
      border-color: rgba(188, 194, 191, 1);
      box-shadow: none;
      cursor: not-allowed;
    }
    .box label {
      height: 100%;
      display: block;
      background: white;
      border: 2px solid rgba(32, 223, 128, 1);
      border-radius: 20px;
      padding: 1rem;
      margin-bottom: 1rem;
      text-align: center;
      box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
      position: relative;
    }
    .box input[type="radio"]:checked + label {
      background: rgba(32, 223, 128, 1);
      color: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
    }
    .box input[type="radio"]:checked + label::after {
      color: rgba(61, 63, 67, 1);
      font-family: FontAwesome;
      border: 2px solid rgba(29, 201, 115, 1);
      content: "✔";
      font-size: 30px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
    }





















