<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://v1.fontapi.ir/css/ShabnamFD" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'core/statics/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/statics/css/uikit-rtl.min.css' %}">
    <title>رسید مشتری</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 BOX">
          <div class="col-md-6">
            <table class="uk-table uk-table-small uk-table-divider">
              <thead>
                <tr>
                  <th>اطلاعات سفارش دهنده</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>نام</td>
                  <td>
                    {{customer.name}}
                    <!--Customer name-->
                  </td>
                </tr>

                {% if customer.email %}
                <tr>
                  <td>ایمیل</td>
                  <td>
                      {{ customer.email }}
                    <!-- customer email-->
                  </td>
                </tr>
                {% endif %}
                {% if customer.phone %}
                <tr>
                  <td>شماره تماس</td>
                  <td>
                      {{ customer.phone }}
                    <!-- customer phone-->
                  </td>
                </tr>
                {% endif %}
                {% if customer.address %}
                <tr>
                  <td>آدرس</td>
                  <td>
                      {{ customer.address }}
                    <!-- customer address-->
                  </td>
                </tr>
                {% endif %}

                <tr>
                  <td>مبلغ پرداخت شده (تومان)</td>
                  <td>
                      {{ order.pay }}
                    <!--price paid-->
                  </td>
                </tr>
                {% if order.remain %}
                <tr>
                  <td>مبلغ باقی مانده (تومان)</td>
                  <td>
                      {{ order.remain }}
                    <!--price remain-->
                  </td>
                </tr>
                {% endif %}

                <tr>
                  <td>شماره سفارش</td>
                  <td>
                      {{ order.order_id }}

                  </td>
                </tr>
                <!--
                <tr>
                  <td>شماره پیگیری</td>
                  <td>

                  </td>
                </tr>
                -->
                <tr>
                  <td>زمان و تاریخ ثبت سفارش</td>
                  <td>
                      {{ order.created|date:"d/m/Y - G:i" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div class="col-md-10 box">
              <input type="radio" id="control_01" name="select" checked />
              <label for="control_01">
                <p>
                  پرداخت موفق
                  <!-- Project name -->
                </p>
                <hr />
                <p>
                  کل مبلغ پرداخت شده: {{ order.pay }} تومان
                <!-- Type of service -->
              </p>
                <p>
                  <!-- Type of service -->
                </p>
                <p>
                  <!-- Type of service -->
                </p>
              </label>
            </div>
            <div id="print-button">
              <button class="print-button" id="noPrint" onclick="window.print();"><span class="print-icon"></span></button>
            </div>
            <p class="error"><!-- error messages --></p>
            <button type="button" id="noPrint" class="btn btn-outline-success"><a href="https://react-test-eosin.vercel.app/">بازگشت به صفحه اصلی</a></button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <script src="{% static 'static/js/script.js' %}"></script>
    <script src="{% static 'static/js/uikit.min.js' %}"></script>
    <script src="{% static 'static/js/uikit-icons.min.js' %}"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
</html>
